.App {
  display: flex;
  height: 100vh;
  flex-direction: row-reverse; /* Moves the sidebar to the right */
}

.right-sidebar {
  width: 25%;
  padding: 16px;
  border-left: 1px solid #dcdfe4; /* Change to left border since it's now on the right */
  display: flex;
  flex-direction: column;
}

.small-box {
  background-color: #dcdfe4; /* Lighter shade */
  height: 64px;
  margin-bottom: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.middle-box {
  background-color: #dcdfe4; /* Lighter shade */
  flex: 1; /* Take up all remaining space */
  border-radius: 8px;
  margin-bottom: 16px;
}

.bottom-box {
  background-color: #dcdfe4; /* Lighter shade */
  height: 96px; /* Adjusted to match the footer box */
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-box input[type="text"] {
  width: 90%;
  height: 40px;
  border: 1px solid #dcdfe4;
  border-radius: 8px;
  padding: 8px;
  font-size: 16px;
  background-color: #dcdfe4;
}

.main-content {
  flex: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.content-box {
  background-color: #dcdfe4; /* Lighter shade */
  flex: 1;
  border-radius: 8px;
}

.footer-box {
  background-color: #dcdfe4; /* Lighter shade */
  height: 96px; /* Made bigger */
  margin-top: 16px;
  border-radius: 8px;
}
