.App {
  display: flex;
  height: 100vh;
  flex-direction: row-reverse;
}

.right-sidebar {
  width: 25%;
  padding: 16px;
  border-left: 1px solid #dcdfe4;
  display: flex;
  flex-direction: column;
}

.small-box {
  background-color: #dcdfe4;
  height: 64px;
  margin-bottom: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.middle-box {
  background-color: #dcdfe4;
  flex: 1;
  border-radius: 8px;
  margin-bottom: 16px;
}

.bottom-box {
  background-color: #dcdfe4;
  height: 96px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-box input[type="text"] {
  width: 90%;
  height: 40px;
  border: 1px solid #dcdfe4;
  border-radius: 8px;
  padding: 8px;
  font-size: 16px;
  background-color: #dcdfe4;
}

.main-content {
  flex: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 16px;
}

.btn {
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.btn-red {
  background-color: #ff4d4d;
}

.btn-red:hover {
  background-color: #cc0000;
}

.content-box {
  background-color: #dcdfe4;
  flex: 1;
  border-radius: 8px;
}

.footer-box {
  background-color: #dcdfe4;
  height: 96px;
  margin-top: 16px;
  border-radius: 8px;
} 